<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Made_Decimalfactor>
            <version>1.0.0</version>
        </Made_Decimalfactor>
    </modules>
    <global>
        <resources>
            <decimalfactor_setup>
                <setup>
                    <module>Made_Decimalfactor</module>
                </setup>
            </decimalfactor_setup>
        </resources>
        <models>
            <decimalfactor>
                <class>Made_Decimalfactor_Model</class>
                <resourceModel>decimalfactor_resource</resourceModel>
            </decimalfactor>
            <decimalfactor_resource>
                <class>Made_Decimalfactor_Model_Resource</class>
                <entities>
                    <decimalfactor_order>
                        <table>made_decimalfactor_order</table>
                    </decimalfactor_order>
                </entities>
            </decimalfactor_resource>
        </models>
        <blocks>
            <decimalfactor>
                <class>Made_Decimalfactor_Block</class>
            </decimalfactor>
        </blocks>
        <helpers>
            <decimalfactor>
                <class>Made_Decimalfactor_Helper</class>
            </decimalfactor>
        </helpers>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <save_decimalfactor>
                        <class>decimalfactor/observer</class>
                        <method>saveDecimalfactor</method>
                    </save_decimalfactor>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <admingrid>
                    <file>decimalfactor.xml</file>
                </admingrid>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <decimalfactor before="Mage_Adminhtml">Made_Decimalfactor_Adminhtml</decimalfactor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <decimalfactor>
            <parameters>
                <enabled>0</enabled>
            </parameters>
        </decimalfactor>
    </default>
</config>